* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #666;
	background: #EFEFEF;
	margin: 20px 0;
}
pre, code {
	font-family: 'Anonymous Pro', Monaco, Andale Mono, Courier New, monospace;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 { font-family: 'PT sans', sans-serif; color: #666666; font-weight: normal; text-shadow: rgb(255,255,255) 2px 2px 0; }
q:before, q:after { content: ""; }
address { font-style: normal; }
img { border: none; }
::-moz-selection { background: rgba(255,255,255,0.5); }
::-webkit-selection { background: rgba(255,255,255,0.5); }
::selection { background: rgba(255,255,255,0.5); }
strong { font-weight: 700; }
a, a:visited {
	color: #158D9F;
	text-decoration: none;
}
a:hover, a:focus {
	color: #EB426A;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}

#links {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #666;
	float: right;
	margin: 23px 0 0 0;
	text-shadow: rgb(255,255,255) 2px 2px 0;
}
#links .github {
	display: inline-block;
	padding-left: 40px;
	background: url(../images/github.png) no-repeat left center;
}

h1 {
	font-weight: bold;
	font-size: 76px;
	color: #666;
	margin: 0 0 20px 0;
}
h1 span {
	font-size: 24px;
}

h2 {
 	font-weight: bold;
	font-size: 32px;
	margin: 40px 0 10px 0;
}
h3 {
	font-weight: bold;
	font-size: 26px;
	margin: 40px 0 10px 0;
}
h4 {
	font-weight: bold;
	font-size: 22px;
	margin: 25px 0 10px 0;
}
h4.method {
	border-bottom: 1px solid #aaa;
	margin: 30px 0 10px 0;
}
h5 {
	font-weight: bold;
	font-size: 16px;
	margin: 25px 0 10px 0;
}

p, ul, ol {
	line-height: 22px;
	font-size: 16px;
	font-weight: 200;
	color: #666;
	margin: 0 0 20px 0;
	text-shadow: 0px 1px 2px #CCC;
}

ul, ol {
	margin: 0 0 18px 25px;
}

ul {
	list-style:disc;
}

ol {
	list-style:decimal;
}

#footer {
	border-top: 1px solid #DDD;
	padding: 10px 0 0 0;
	margin-top: 30px;
}
#footer p {
	font-size: 14px
}
code {
	background: rgba(255,255,255,0.8);
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	text-shadow: 0px 1px 2px #CCC;
	font-size: inherit;
}
pre,
pre code {
	margin: 0px 0px 20px 0px;
	padding: 15px;
	line-height: 1.3em;
	color: #FFF;
	background: #333;
	border-radius: 5px;
	overflow: auto;
	text-shadow: none;
	white-space-collapsing: trim-inner;
}
pre code {
	background: transparent;
	padding: 0;
	margin: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: inherit;
}
pre li,
pre ol,
pre ul {
	text-shadow: none !important;
}
kbd {
	font-size: 90%;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}
table th, table td {
	padding: 5px;
	vertical-align: top;
	line-height: 22px;
}
table th {
	text-align: left;
	vertical-align: top;
	width: 100px;
}
table table th,
table table td {
	vertical-align: top;
	width: auto;
	border: 0;
	padding: 0px 5px 0px 5px;
}

table.parameters tr:first-child th {
	color: #999;
}
 table table {
	border: 0;
	margin: 0px;
	width: auto;
}
/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

pre code {
  display: block; padding: 0.5em;
  background: #333; color: #f8f8f8;
}

pre .shebang,
pre .comment,
pre .template_comment,
pre .javadoc {
  color: #7c7c7c;
}

pre .keyword,
pre .tag,
pre .ruby .function .keyword,
pre .tex .command {
  color: #96CBFE;
}

pre .function .keyword,
pre .sub .keyword,
pre .method,
pre .list .title {
  color: #FFFFB6;
}

pre .string,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date {
  color: #A8FF60;
}

pre .subst {
  color: #DAEFA3;
}

pre .regexp {
  color: #E9C062;
}

pre .function .title,
pre .sub .identifier,
pre .pi,
pre .decorator,
pre .ini .title,
pre .tex .special {
  color: #FFFFB6;
}

pre .class .title,
pre .haskell .label,
pre .constant,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .nginx .built_in {
  color: #FFFFB6;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .number,
pre .variable,
pre .vbscript,
pre .literal {
  color: #C6C5FE;
}

pre .css .tag {
  color: #96CBFE;
}

pre .css .rules .property,
pre .css .id {
  color: #FFFFB6;
}

pre .css .class {
  color: #FFF;
}

pre .hexcolor {
  color: #C6C5FE;
}

pre .number {
  color:#FF73FD;
}

pre .tex .formula {
  opacity: 0.7;
}
