/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* Documentation Styles
================================================== */
	div.container {
		padding-top: 10px; }
	.brand {margin-left:20px;}
	.home {
		position:fixed;
		bottom:0;
		background:#49182D;
		padding:20px 0;
		width:inherit;
		height:20px;
		-webkit-border-radius: 8px 8px 0 0;
		 border-radius: 8px 8px 0 0;
		text-align:center; }

	}



	/* Doc nav */
	nav {
		position: static;
		width: 160px;}

	nav ul {
		margin:10px 0 0 0; }
	nav ul li {}
	nav ul li a,
	nav ul li a:visited,
	nav ul li a:active  {
		display:block;
		text-decoration:none;
		font-weight:bold;
		padding-left:24px;
		padding-bottom:2px;
	}
	nav ul li a:hover,
	nav ul li a:focus {
		color: #222; }

	.plus {
		background: url(../images/menu.png) 0 -20px no-repeat;
	}

	.minus {
		background: url(../images/menu.png) 0 0 no-repeat;
	}

	nav ul.sub {list-style-type:none; margin:10px 0 10px 10px; }
	nav ul.sub li {}
	nav ul.sub li a,
	nav ul.sub li a:visited,
	nav ul.sub li a:active  { color:#49182D; font-weight:normal; }
	nav ul.sub li a:hover,
	nav ul.sub li a:focus {
		color: #222; }

	header h1 {
		font-size: 48px;
		line-height: 61px;
		letter-spacing: -1px;
		font-weight: normal;
		font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; }
	hr.large {
		border: none;
		height: 8px;
		background: #ebebeb;
		margin: 50px 0; }
	div.doc-section {
		margin: 30px 0; }
	.doc-section h3 {color:#49182D;}

	.notes { background-color:#f7f7f7; color:#222222;}

	#whatAndWhy .row {
		padding: 30px 0 0; }

	#typography blockquote {
		margin-top: 20px; }

	.hidden-code a {
		font-size: 12px;
		color: #999; }
	.hidden-code>div {
		display: none; }


	/* Grid */
	#grid .column,
	#grid .columns {
		background: #ddd;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
		font-size: 12px;
		font-weight: bold;
		-moz-border-radius: 2px;
		 -webkit-border-radius: 2px;
		 border-radius: 2px; }
	#grid .column:hover,
	#grid .columns:hover {
		background: #bbb;
		color: #333; }
	#grid .example-grid { overflow: hidden; }

	.post-button-note,
	.post-button-note a {
		font-size: 11px;
		color: #999; }


	img {
		max-width: 100%;
		height: auto; }

	.gist-meta { display: none !important;}

	ul ul ul li { margin-bottom: 3px; }

	.twitter-share-button { margin-bottom: -18px; }

	#influads_block {
		font-size: 11px;
		line-height: 14px;
	}
	.influads_text a {
		color: #555;
		text-decoration: none;
	}
	.influads_powered_div {
		font-size: 11px;
	}
	.influads_powered_div a {
		color: #999;
		font-style: italic;
		text-decoration: none;
	}
	.influads_text a:hover,
	.influads_powered_div a:hover {
		text-decoration: underline;
	}
	.method {border-bottom:2px solid #ccc;}

	a.white:link, a.white:visited, a.white:active  { color:#fff; text-decoration:none; font-weight:bold; font-size:18px;}

    a.white:hover, a.white:focus  { text-decoration:underline; }

/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

pre code {
  display: block; padding: 0.5em;
  background: #333; color: #f8f8f8;
}

pre .shebang,
pre .comment,
pre .template_comment,
pre .javadoc {
  color: #7c7c7c;
}

pre .keyword,
pre .tag,
pre .ruby .function .keyword,
pre .tex .command {
  color: #96CBFE;
}

pre .function .keyword,
pre .sub .keyword,
pre .method,
pre .list .title {
  color: #FFFFB6;
}

pre .string,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date {
  color: #A8FF60;
}

pre .subst {
  color: #DAEFA3;
}

pre .regexp {
  color: #E9C062;
}

pre .function .title,
pre .sub .identifier,
pre .pi,
pre .decorator,
pre .ini .title,
pre .tex .special {
  color: #FFFFB6;
}

pre .class .title,
pre .haskell .label,
pre .constant,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .nginx .built_in {
  color: #FFFFB6;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .number,
pre .variable,
pre .vbscript,
pre .literal {
  color: #C6C5FE;
}

pre .css .tag {
  color: #96CBFE;
}

pre .css .rules .property,
pre .css .id {
  color: #FFFFB6;
}

pre .css .class {
  color: #FFF;
}

pre .hexcolor {
  color: #C6C5FE;
}

pre .number {
  color:#FF73FD;
}

pre .tex .formula {
  opacity: 0.7;
}

	/* Mobile */
	@media only screen and (max-width: 767px) {
		header h1 { font-size: 34px; line-height: 37px; }
		nav { position: relative; }
		nav ul,
		#influads_block {
				display: none;
		}
		.brand { display:block; }
		#examples .four.columns {
			padding-top: 30px;
		}
		.home{display:none;}
	}

	/* Mobile Landscape */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav ul {
			display: none;
		}
		.home {display:none;}
	}

	/* Non 960 */
	@media only screen and (max-width: 959px) {
		nav .button {
			padding: 9px 20px 11px; }
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		nav {
			width: 124px; }
			.brand {
		display:none; }
			.home {display:none;}
	}
	}

	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.brand {
		display:none; }
		.home {display:none;}
	}
	}

	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {


	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Anything smaller than standard 960 on a device */
	@media only screen and (max-width: 959px) and (max-device-width: 1000px) {



	}
